{% extends 'guinea_pig/base.html' %}
{% load staticfiles %}
{% load under_to_space %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/'%}{{ game.name }}.css" type="text/css">
{% endblock css %}
{% block js_scripts %}
    <script>var STATIC_PATH_IMG = "{% static 'games/images/' %}";</script>
    <script src="{% static 'js/get_highscores.js' %}"></script>
    <script src="{% static 'js/send_score.js' %}"></script>
    <script src="{% static 'games/' %}{{ game.source }}"></script>
{% endblock js_scripts %}
{% block content %}
    <h2 class="game_name">{{ game.name|under_to_space }}</h2>
    <ul>
        <li>{{ game.author }}</li>
        <li>{{ game.description }}</li>
    </ul>
    <div id="game_container">
    </div>
    <div id="highscores">
    </div>
    {% if user.is_authenticated %}
        <div id="add_comment">
            <form method="POST" id="comment_form">
                {% csrf_token %}
                {{ comment_form.as_p }}
                <button type="submit">Comment</button>
            </form>
        </div>
    {% endif %}
    <div id="comments">
        {% for comment in comments %}
            <div class="comment">
                <img src="{% static 'images/avatars/' %}{{ comment.author.avatar }}" class="small_img"/>
                <div class="comment_text">
                    <span>{{ comment.author }}</span>
                    <span>{{ comment.pub_date|date:"d-m-Y G:i" }}</span>
                    <p>{{ comment.text }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
