{% extends 'guinea_pig/base.html' %}
{% load staticfiles %}
{% load under_to_space %}
{% block css %}
    <link rel="stylesheet" href="{% static 'games/'%}{{ game.name }}/style_{{ game.name }}.css" type="text/css">
{% endblock css %}
{% block js_scripts %}
    <script>var STATIC_PATH_IMG = "{% static 'games/' %}";</script>
    <script src="{% static 'js/get_highscores.js' %}"></script>
    <script src="{% static 'js/send_score.js' %}"></script>
    <script src="{% static 'games/' %}{{ game.name }}/{{ game.source }}"></script>
{% endblock js_scripts %}
{% block content %}
    <h2 class="game_name">{{ game.name|under_to_space }}</h2>
    <div id="game_container">
    </div>
    <div id="highscores">
    </div>
    <div id="game_info">
        <p>Author: {{ game.author }}</p>
        <p>{{game.description }}</p>
    </div>
    <div id="comments">
        {% if user.is_authenticated %}
            <div id="add_comment">
                <h4>Add a new comment</h4>
                <form method="POST" id="comment_form">
                    {% csrf_token %}
                    {{ comment_form.as_p }}
                    <button type="submit" class="press_button blue">Comment</button>
                </form>
            </div>
        {% endif %}
        {% for comment in comments %}
            <div class="comment">
                <img src="{% static 'images/avatars/' %}{{ comment.author.avatar }}" class="small_img"/>
                <div class="comment_text">
                    <span>{{ comment.author }}</span>
                    <span>{{ comment.pub_date|date:"d-m-Y G:i" }}</span>
                    <p>{{ comment.text }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
