{% extends 'guinea_pig/base.html' %}
{% load staticfiles %}
{% load under_to_space %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/index.css' %}" type="text/css">
{% endblock css %}
{% block content %}
<div id="about">
    <h2>About</h2>
    <h4>Hello Strangers!</h4>
    <p>This is our first Django project. We are making it for fun and to learn this framework.<br />
    If you have nothing to do or maybe the finals are coming, feel free to register on our website 
    (we have adorable avatars to choose) and play our games.
    Try to beat our highscores and get to the leaderboard!</p>
    <br />
    <p>Beautiful authors of this marvelous website:</p>
    <img src="{% static 'images/faces.png' %}"/>
</div>
<div id="games">
    <h2>Games</h2>
    {% for game in games %}
        <a href="{% url 'guinea_pig:game' game.name %}"><h3 class="game_name">{{ game.name|under_to_space }}</h3></a>
    {% endfor %}
</div>
<div id="contact">
    <h2>Contact</h2>
    <p>If you're hoplessly looking for Junior Python Developers, please write to:</p>
    <ul>
        <li>m.lipowska[at]onet.pl</li>
        <li>piotr[at]atopik.pl</li>
    </ul>
</div>
{% endblock content %}
